
*{
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Roboto', sans-serif;
  background: #000;

}

main{
  width: 1200px;
  background: #FFF;
  margin: 0 auto;
}

header{
  background: #24282b;
  color: #FFF;
  border-bottom: 3px solid #1593d4;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 80px;
  align-items: center;
}

span, .activo{
  color: #1593d4;
}

nav{
  width: 40%;
}

nav ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #FFF;
}

nav ul li a:hover{
  color: #1593d4;
}

.cabecera{
  background: url("/images/cabecera.jpg") 0 -200px;
  background-size: cover;
  height: 400px;
  padding: 0 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.cabecera h2{
  font-size: 50px;
  margin-bottom: 20px;
}

.cabecera p{
  width: 90%;
  font-size: 20px;
}

.subscrip{
  background: #24282b;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #FFF;
}



.subscrip input{
  padding: 8px;
}

.subscrip input[type=button]{
  background-color: #e8491d;
  color: #FFF;
  border: 1px solid #e8491d;
}

.subscrip input[type=button]:hover{
  background-color: #FFF;
  color: #e8491d;
  border: 1px solid #FFF;
}

.tarjetas{
  padding: 0 50px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}


.card img{
  width:35%;
}

footer{
  height: 80px;
  background: #1593d4;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textos{
  background: #FFF;
  color: rgb(0, 0, 0);
  display: flex;
  height: 650px;
  width: 1100px;
  justify-content: space-between;
  text-align: justify;
  gap: 30px;
  padding: 0 50px;
  
}

.azultexo p {
  background-color: #35424a;
  color: #FFF;  
  padding-block-start: 2%;
  padding-block-end: 2%;
  padding-right: 2%;
  padding-left: 2%;
 


}

.imagen{

  height: 210px;
  width: 780px;
  

}
aside{
  width: 30%;
}

.cuadro{
  margin: 20px 10;
  background: #35424a;
  color: #FFF;
  padding: 20px;
  width: 280px ;
  height: 200px;
  
}

.cuadroblanco1{
  margin: 20px 10;
  color:#000;
  background: #e1e5e9;
  padding: 20px;
  width: 680px ;
  height: 130px;
  
}
.cuadroblanco2{
  margin: 20px 10;
  color:#000;
  background: #e1e5e9;
  padding: 20px;
  width: 680px ;
  height: 130px;
}
.cuadroblanco3{
  margin: 20px 10;
  color:#000;
  background: #e1e5e9;
  padding: 20px;
  width: 680px ;
  height: 130px;
  
} 

.fondo{
  background: #e1e5e9;
  color: rgb(0, 0, 0);
  display: flex;
  height: 650px;
  width: 1060px;
  justify-content: space-between;
  text-align: justify;
  gap: 30px;  
  padding: 0 50px;
}

.formulario{
      font-size:10px;
      height: 30px;
      width: 750px ;
      background-color: #FFF;
}

textarea{
  height: 260px;
  width: 750px ;
  background-color: #FFF;
}

.enviar{
  background-color: #e8491d;
  color: #FFF;
  border: 1px solid #e8491d;
  padding: 8px;
  height: 40px;
  width: 750PX ;
  
}
.mapa{
  width: 320px ;
  height: 330px;
}
/*@media (max-width:400px)

    {
    .logo,nav, h1,h2, main{
    width: 100%;
    background-color: red;
    
  }
}






  