header{
    width: 77%;
    padding: 0 150px;
    
    
  }

footer{
  height:100px;
  
  
}
.cabecera{
  height:600px;
  

}

.subscrip{
  height:50px;
  width: 1100px;
  

}

.tarjetas{
  height:400px;
  width: 1050px;
  
}